.spacer {
    flex: 1 1 auto;
}
img {
    padding-right: 0.5em;
}

mat-icon {
    padding-right: 0.5em;
}

mat-drawer-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5) #555;
}


.side-nav{
    padding: 20px;
}

mat-drawer-content {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    padding: 12px;
  }

  .loader-container{
    //position: fixed;
    width: 100%;
    z-index: 99;
    margin: 0;
  }

  .fab-main {
    top: auto;
    right: 20px;
    bottom: 140px;
    left: auto;
    position: fixed;
}


.fab-chat {
    top: auto;
    right: 20px;
    bottom: 80px;
    left: auto;
    position: fixed;
}

.mat-icon-button {
    line-height: unset;
 }