<div fxLayout="row wrap">
    <mat-card class="card" *ngFor="let member of members">
        <mat-card-header>
            <img mat-card-avatar class="header-image" src="{{ member.profilePicture }}" />
            <mat-card-title>{{ member.firstName + ' ' + member.lastName }}</mat-card-title>
            <mat-card-subtitle>{{ member.jobTitle }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ member.profileDescription }}</p>
            <div  class="skills-container">
                <mat-icon color="primary">build</mat-icon>
                  <span *ngFor="let skill of member.skills; let i = index">
                    {{ i < member.skills.length - 1 ? skill.name + ',&nbsp;' : skill.name}}
               </span> 
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions>
                <a mat-button color="primary" [routerLink]="['/members/member-update', member._id]">
                    <mat-icon color="primary">update</mat-icon>
                    <span>update</span>
                </a>
                <a mat-button color="primary" (click)="confirmDelete(member)">
                    <mat-icon color="primary">delete</mat-icon>
                    <span>delete</span>
                </a>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    <button mat-mini-fab color="primary" class="fab-main" (click)="this.router.navigate(['members/member-add'])">
        <mat-icon>
            person_add_alt
        </mat-icon>    
    </button>
</div>

